<br><br><br>
<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    {{#each post}}
      <div class="col-md-5 mb-3">
        <div class="card text-bg-light p-4">
          <div>
            <strong>
              <a href="/@{{nome}}" class="text-dark">{{nome}}</a>
            </strong>
            <span class="text-muted">
              {{data}}
            </span>
          </div>
          <a href="/@{{nome}}/{{id}}/{{titulo}}" class="text-muted">{{titulo}}</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>